<h1 class="text-warning">Thuc hanh 1</h1>
<app-font-size-editor></app-font-size-editor>
<p>----------------------------------------------------------------------------------------------------</p>
<h2 class="text-warning">Thuc Hanh 2</h2>
<app-pet></app-pet>
<p>----------------------------------------------------------------------------------------------------</p>
<h2 class="text-warning">Bai Tap 1</h2>
<app-calculator></app-calculator>
<p>----------------------------------------------------------------------------------------------------</p>
<h2 class="text-warning">Bai Tap 2</h2>
<app-color-picker></app-color-picker>
<p>----------------------------------------------------------------------------------------------------</p>
